<h1>Characters from Hogwarts</h1>

<section class="wrapper">
    <% @character.each do |character| %>
        <div class="character">
            <h5>Name: <%= character.name %></h5>
            <p>Location: <%= character.location %></p>
            <p>House: <%= character.house %></p>
        </div>
    <% end %>
</section>
