<h1>Hogwarts characters</h1>

<% @character.each do |character| %>
    <div>
        <p><%= character.name %></p>
        <p><%= character.location %></p>
        <p><%= character.house %></p>
    </div>
<% end %>
